
/*media query*/
@media (max-width: 900px) {
    #page-home{
        background-position-x: 70vw;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute;
        bottom: 48px;

        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;

    }

    #page-home header a.logo{
        position: fixed;
        top: -200px;
        bottom: 450px;
    }


    #page-create-point .field-group {
        flex-direction: column;
    }

    #page-create-point .items-grid {
        grid-template-columns: 1fr;
    }

    #page-create-point form .field-group .field + .field {
        margin-left: 0;
    }
    
    #page-search-results .cards {
        grid-template-columns: 1fr;
    }

}

@media (min-width:1700px){

    #page-home{
        background-position-x: 40vw;
    }

}

@media (max-height: 760px){
    #page-home{
        background-position-y: 200px;
    }
}

@media (max-width: 400px) {
    #page-create-point form {
        padding: 64px 45px 64px 45px;
    }

    #page-create-point form legend span {
        padding-top: 8px;
    }

    #page-create-point a.backToHome , #page-search-results a.backToHome{
        padding-left: 40px;
    }

    #page-create-point button {
        width: 247px;
    }

    body::after {
        margin-bottom: -400px;
    }

    #modal .content {
        width: 312px;
    }
}